/* to make the whole page fit we set the initial margin and padding to 0 and sizing to border box*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* then for the header class we set our height, width,color, background size and position to how we want based on preference*/
.header{
    height: 105vh;
    width: 100%;
    background-color: white;
    color: white;
    background-size: cover;
    background-position: center;
    /*Then we create the background image and set it to fill the whole page*/
    background-image: url("https://raw.githubusercontent.com/dukeava/collegecarry/main/professional-movers-cross-country.webp");
    /*Then we set our font family to what we exactly want*/
    font-family: 'Poppins' sans-serif;
    

    
}

.log{
    width: 4px;
    height: 1px;
}
/*Then for the navbare class we set our display to flex to ensure evrything is aligned horizontally*/ 
.navbare{
    display: flex;
   /*Then we align all items in the center*/
    align-items: center;
    /*Then we pad the items and give spacing*/
    padding: 20px;
    font-family: 'Poppins',sans-serif;
}
/*Then for the nav class we set our flex which is our placement to 1 which is right*/
nav{
    flex: 1;
    text-align: right;
}
/*Then we set our nav ul which is our unordered list to none to remove underline*/
nav ul{
    
    list-style: none;
/*Then we set our nav ul li which is the links contained in the unordered list  and display
should be to the inline block which is one a block format and margin placement should be right
 and the position should be relative to what decoration is matching with the link*/
}
nav ul li{
    display: inline-block;
    margin-right: 90px;
    position: relative;
    margin-bottom: 147px;
    
}
/*Then for the links we set text decoration to none and font size to what we want*/
nav ul li a{
    
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-style: 'Poppins', sans-serif;
/*Then for the navbare class which contains the decoration for the link we set our content
 to none after hovering and height to what we want initially and bottom and left to manage our decoration
  and transition to 0.5 seconds*/
}
.navbare ul  li::after{
    content: '';
    height: 3px;
    width: 0;
    background: lightblue;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
/*Then the logo whould be this font weight*/
}
.logo{
   
 /*Then we set the width to 100 for our hover*/   
}
.navbare ul li:hover::after{
    width: 100%;
}
/*then for our next section class we set the height,width to specific values and cove rour background
and ensure no repeat*/ 
.row{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.row img{
    background-size: cover;
    width: 100%;
    
}
/* Then we ensure that the width,height are set and for the position we set to absolute to affirm it
 */
.content{
    width: 100%;
    position: absolute;
    top: 60%;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins',sans-serif;
 /*Then we set our button class and pad it to give space and marginalize it, then we set out
 the transition to 0.5 and the border radius to 25  and the cursor to pointer for hovering*/   
}
button{
    width: 200px;
    text-align: center;
    margin: 0px 10px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    border: 2px solid cornflowerblue;
    background: cornflowerblue;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    cursor: pointer;
    padding: 9px 15px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    font-size: 20px;

}
/*Then we style the hovering and color it*/

button:hover{
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    color: white;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
/*Then for the this class we set the height,width,background color and size to desied preference
 then we align items center*/
}
.learn{
    height: 105vh;
    width: 100%;
    background-color: white;
    color: black;
    background-size: cover;
    background-position: center;

    font-family: 'Poppins' sans-serif;
    display: flex;
    align-items: center;

 padding: auto; 
/*Then for the images we set the width and height and marginalize it*/
}
.learn h1{
    font-family: 'Poppins', sans-serif;
    
}
.nerd h1{
    font-family: 'Poppins' sans-serif;
}
.mbappe img{
    max-width: 580px;
    margin-left: 380px;
    margin-bottom: 90px;
    max-height: 600px;
    margin-right: 70px;
 
/*Then for this class we style the font style, and pad left and right for spacing*/   
}
.learning{
    height: 104vh;
    width: 100%;
    background-color: white;
    color: black;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins' sans-serif;
}
.learning h1{
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
    text-align: center;
  
}
.blass{
    display: flex;
    
    align-items: center;
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 78px;
    justify-content: space-evenly;
}
.boox img{
    margin-top: 80px;
    width: 300px;
    height: 300px;
}
.hage{
    display: inline-block;
    align-items: center;

}
.hage h3{
    margin-left: 410px;
    margin-bottom: 300px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;

    
}
.super{
    font-size: 15px;
    color: black;
    padding-left: 90px;
    padding-bottom: 90px;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}
.bogus{
    height: 60vh;
    width: 100%;
    background-color: white;
    color: black;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 110px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
   

    
}
.bogus i{
    margin: auto;
    padding-left: 5px;
    
    
    color: cornflowerblue;
}
.bogus hr{
    background-color: cornflowerblue;
    width: 74px;
    padding: 2px;
    align-items: center;
    margin-left: 60px;
    border-radius: 5px;
}
.bogus h4{
    margin-left: 100px;
}
/*Then for this button we set the width height, background and we add padding to space inside 
and margin to space outside and we add our transition*/
.btn a{
    text-decoration: none;
    color: white;
    background: cornflowerblue;
    border: 2px solid cornflowerblue;
    width: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 38px;
    padding-right:34px;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.5s;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.btn a:hover{
    background-color: cornflowerblue;
    color: white;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
/*Then we style the font family and color and font family and marginalize the section*/
.col{
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    text-align: center;

}
/*for this class we marginalize by left and padding from top and border radius to give space*/
.col hr{
    background-color: cornflowerblue;
    width: 110px;
    margin-left: 617px;
    padding-top: 5px;
    margin-top: 7px;
    border-radius: 5px;
}
/*For the text align we give it center */
.journ h1{
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
/*Then we set the width height margin and padding to give space and set border radius for curves and edges*/
.journ hr{
    background-color: cornflowerblue;
    width: 200px;
    margin-left: 570px;
    padding-top: 5px;
    margin-top: 7px;
    border-radius: 5px;
}
/*Then we set height, width and align items center and give border radius*/
.journey img{
    height: 370px;
    width: 350px;
    margin: auto;
    align-items: center;
    border-radius: 3px;

}
/*Then we set the display to flex to make everything horizontal then we set the margin to auto
to centralize and lastly we position to relative.*/
.journey{
    display: flex;
    margin: auto;
    align-items: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: white;
}
/*Then we set the margin to 50px and transition it to 0.5*/
.intro{
    margin: 50px;
    transition: 0.5s;
}
/*Then we set the padding to 6px and set the width height and background and botton to 55px
and we set the transition to 0.5 seconds*/
.text{
    box-sizing: border-box;
    position: absolute;
    padding: 6px;
    width: 350px;
    height: 70px;
    background: rgba(27, 27,  27, .5);
    bottom: 55px;
    transition: 0.5s;

}
/*Then we set the margin to 10px and align center*/
.text h2{
    margin: 10px;
    text-align: center;

}
/*For the pop up text we set the margin and visiblity to hidden to hide before hover and opacity to 0
*/
.text p{
    margin: 20px;
    visibility: hidden;
    opacity: 0;
    text-align: center;
   
}
.intro:hover{
    cursor: pointer;
}
.intro:hover .text{
    height: 200px;
    bottom: 55px;
    background: rgba(27, 27,  27, .5);
}
/*Then we set the opacity to 1 and then we set the visibility to visible */
.intro:hover .text p{
    opacity: 1;
    visibility: visible;
}
/*Then we set the class to marginalize*/
.cob{
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    text-align: center;

}
/*Then for the horizontal line we set width height abd marginalize and pad to give space*/
.cob hr{
    background-color: cornflowerblue;
    width: 160px;
    margin-left: 587px;
    padding-top: 5px;
    margin-top: 7px;
    border-radius: 5px;
}
/*Then for this class we set the width and pad and margunalize to give spacing in and out*/
.super hr{
    background-color: cornflowerblue;
    width: 70px;
    padding-top: 4px;
    margin-left: 28px;
    margin-top: 7px;
    border-radius: 5px;

}
/*Then we set the font family and align to center*/
.test{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
/*Then we set the padding t0 2px to space out and then we marginlaize for the outward region*/
.test hr{
    padding: 2px;
    background-color: cornflowerblue;
    width: 110px;
    margin-left: 620px;
    margin-top: 7px;
    border-radius: 5px;
}
/*Then we set the height width and font family and display*/
.quotes{
    height: 60vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    

}
/*Then we set the margin to give space and we text align to center*/
.one{
    font-size: 30px;
    color: black;
    margin-top: 50px;
    margin: 60px;
    text-align: center;
    
}
/*Then we set the font size to 15*/
.blue{
    font-size: 15px;

}
.coal img{
    width: 136px;
    height: 136px;
}
.logos{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.logos hr{
    padding: 2px;
    background-color: cornflowerblue;
    width: 74px;
    margin-left: 634px;
    margin-top: 7px; 
    border-radius: 5px;
}
.ima img{
    width: 640px;
    height: 590px;
    
    margin-left: 370px;
    padding: 50px;
}
/*Then we set the display to flex to set everything horizontally and we marginlaize from the bottom*/
.uni{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 120px;
}
.uni p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: italic;
}
.uni h4{
    text-align: center;
}
.un{
    height: 30vh;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    text-align: center;
}
.im i{
    color: cornflowerblue ;
}

/*then for the footer we set the heigh width and color and we text align to center*/
.footer{
    height: 46vh;
    width: 100%;
    background: black;
    color: cornflowerblue;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
/*Then we set the class and pad it*/
.heat h1 {
    
    padding-top: 15px;
    
}
.copyright{
    text-align: center;
    margin-top: 90px;

}
@media only screen and (max-width: 430px){
    .navbare ul{
        display: flex;
        margin-top: 30px;
        
    }
    .navbare ul li a{
        font-size: 20px;
    }
    .header{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("https://raw.githubusercontent.com/dukeava/collegecarry/main/professional-movers-cross-country.webp");
    }
    .col{
        color: black;
        font-family: 'Poppins', sans-serif;
        margin-top: 40px;
        text-align: center;
        
    
    }
    /*for this class we marginalize by left and padding from top and border radius to give space*/
    .col hr{
        background-color: cornflowerblue;
        width: 110px;
        margin-left: 137px;
        padding-top: 5px;
        margin-top: 7px;
        border-radius: 5px;
    }
    
    .learn h1{
        font-family: 'Poppins', sans-serif;
        font-size: large;
        
    }
    .learn{
        display: inline-block;
        align-items: center;
        justify-content: space-around;
    }
    
    .super {
        margin-right: 40px;
        margin-top: 40px;
        
        
    }
    .mbappe img{
        max-width: 260px;
        margin-left: 80px;
        margin-bottom: 90px;
        max-height: 400px;
 
  
    }
    .journey{
        display: inline-block;
        margin: auto;
        align-items: center;
        position: relative;
        font-family: 'Poppins', sans-serif;
        color: white;
        
    }
    .journey img{
        height: 320px;
        width: 300px;
        margin: auto;
        align-items: center;
        border-radius: 3px;
    
    }
    .journ hr{
        margin-left: 90px;
    }
    .text{
        box-sizing: border-box;
        position: relative;
        padding: 6px;
        width: 300px;
        height: 50px;
        background: rgba(27, 27,  27, .5);
        bottom: 55px;
        transition: 0.5s;
    
    }
    
    /*Then we set the margin to 10px and align center*/
    .text h2{
        margin-right: 10px;
        text-align: center;
    
    }
    /*For the pop up text we set the margin and visiblity to hidden to hide before hover and opacity to 0
    */
    .text p{
        margin-right: 20px;
        visibility: hidden;
        opacity: 0;
        text-align: center;
       
    }
    .bogus{
        display: inline-block;
       
    }
    .real{
        margin-top: 30px;
    }
    .cob hr{
        margin-left: 120px;
    }
    .logos hr{
        margin-left: 158px;
    }
    .blass{
        display: inline-block;
        
    }
    .boox img{
        width: 250px;
        height: 280px;
    }
    .test hr{
        margin-left: 135px;
    }
    .quotes{
        height: 60vh;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        
    
    }
    .logos{
        margin-top: 90px;
    }
    .ima img{
        width: 340px;
    height: 340px;
    
    margin-left: 18px;
    padding: 50px;

    }
    .soul{
        font-weight: bold;
    }
  .un{
    display: inline-block;
    margin-left: 25px;
  }
  .im{
    margin-top: 20px;
  }
  .footer{
    height: 46vh;
    width: 100%;
    background: black;
    color: cornflowerblue;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
   

}