/*This has the same commenting as the home css page and same configuration
which means all processes are the same*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    height: 107vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: url("https://github.com/dukeava/collegecarry/blob/main/mover-packing.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.he hr{
    padding: 2px;
    background-color: cornflowerblue;
    margin-left: 645px;
    width: 64px; 
    border-radius: 5px;
}
.he h1{
    color: black;
    text-align: center;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
}
.row{
    display: flex;
    position: relative;
    
    
}
.row img{
    width: 400px;
    height: 300px;
    padding: 30px;
    margin-left: 35px;
    border-radius: 30px;
    
    
}
.text{
    box-sizing: border-box;
    position: absolute;
    padding: 8px;
    width: 340px;
    height: 48px;
    background: rgba(27, 27,  27, .5);
    bottom: 55px;
    transition: 0.5s;
    margin-left: 64px;
    color: white;
    margin-bottom: -20px;

}
.text h2{
    
    text-align: center;

}
.btd a{
    text-decoration: none;
    color: white;
    background: transparent;
    border: 2px solid white;
    width: 90px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right:20px;
    margin-left: 85px;
    margin-top: 20px;
    border-radius: 25px;
    transition: 0.5s;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
}
.btd a:hover{
    background: white;
    color: black;
}
.col:hover .text{
    height: 90px;
    bottom: 55px;
    background: rgba(27, 27,  27, .5);
}
.col:hover .btd a{
    visibility: visible;
    opacity: 1;
}
.navbare{
    display: flex;
   
    align-items: center;
    padding: 20px;
    font-family: 'Poppins',sans-serif;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    
    list-style: none;

}
nav ul li{
    display: inline-block;
    margin-right: 100px;
    position: relative;
    margin-bottom: 130px;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-style: 'Poppins', sans-serif;

}
.navbare ul  li::after{
    content: '';
    height: 3px;
    width: 0;
    background: cornflowerblue;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}
.logo{
    font-weight: 4000px;
}
.navbare ul li:hover::after{
    width: 100%;
}
.boll{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    
}
.boll h1{
    font-size: 50px;
    margin-top: 80px;
}
.nugget{
    height: 80vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bulk h1{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    margin-top: 30px;
}
.bulk hr{
    padding: 2px;
    background-color: cornflowerblue;
    margin-left: 939px;
    width: 120px; 
    border-radius: 5px;
    margin-top: 5px;
}
.lack{
    height: 582px;
    width: 450px;
    border: 3px solid cornflowerblue;
    border-radius: 58px;
    padding: 30px;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;

}
.lack h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.lack hr{
    padding: 2px;
    background-color: cornflowerblue;
    margin-left: 160px;
    width: 60px; 
    border-radius: 5px;
    margin-top: 5px;
} 
.yini a{
    text-decoration: none;
    background-color: cornflowerblue;
    padding: 10px 15px;
    color: white;
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.5s;

}
.yini{
    text-align: center;
    
}
.yini a:hover{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
.lace{
    height: 533px;
    width: 450px;
    border: 3px solid cornflowerblue;
    border-radius: 58px;
    padding: 30px;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.lace h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.lace hr{
    padding: 2px;
    background-color: cornflowerblue;
    margin-left: 175px;
    width: 60px; 
    border-radius: 5px;
    margin-top: 5px;
}
.footer{
    height: 46vh;
    width: 100%;
    background: black;
    color: cornflowerblue;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.coal img{
    width: 136px ;
    height: 136px;
}
/*Then we set the class and pad it*/
.heat h1 {
    
    padding-top: 15px;
    
}
.copyright{
    text-align: center;
    margin-top: 90px;

} 
@media only screen  and (max-width: 430px){
    .navbare ul{
        display: flex;
        margin-top: 30px;
        
    }
    .navbare ul li a{
        font-size: 21px;
    }
    .boll h1{
        font-size: 40px;
        margin-top: 120px;
    }
    .bulk hr{
        margin-left: 140px;
    }
    .nugget{
        display: inline-block;
        justify-content: space-between;
    }
    .lack{
        height: 650px;
        width: 350px;
        border: 3px solid cornflowerblue;
        border-radius: 58px;
        padding: 30px;
        margin-top: 80px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        margin-left: 20px;
        font-size: 20px;
    }
    .lack hr{
        margin-left: 120px;
    }
    .bulk h1{
        margin-top: 90px;
    }
    .lace {
        height: 610px;
        width: 350px;
        border: 3px solid cornflowerblue;
        border-radius: 58px;
        padding: 30px;
        margin-top: 60px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        margin-left: 20px;
        font-size: 20px;
    }
    .lace hr{
        margin-left: 120px;
    
    }
    .footer{
        height: 46vh;
        width: 100%;
        background: black;
        color: cornflowerblue;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin-top: 90px;
    }


}